

.card--body{
  font-size: 18px;
  background-color: black;
  color: #d1d1d1 !important;
  font-weight: bold;
  
}



.letra{

  color: #d1d1d1 !important;
  background-color: black;
  font-weight: bold;
  

}


a:hover{

  color: #009cde !important;
  font-weight: bold;

}



.fondo{

  
  background-color: black;
  font-weight: bold;


}


.imagen{
width: 150px;
height: 35px;

}


.center{
  text-align: center;
  
  }


  .negra{
    color: black;
    font-weight: bold;
  }
